body{
    background: gray
}
 h1{
    font-size: 60px;
    color: rgb(0, 0, 0)255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
 }
 p{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
 }
 img{
    width: 390px;
    height: 390px;
    margin: 105px;
 }
.cabecalho{
   background-color: gray;
}
.logo_cabecalho{
   width: 450px;
   margin-left: 710px;
   margin-top: 50px;
}
.lista_cabecalho{
   display: flex;
   margin-left: 320px;
}
.item_lista_cabecalho{
   font-size: 40px;
   list-style: none;
   padding-left: 80px;
}